@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

/*PAGINA REGISTRAZIONE CSS*/
.formStyle {
  display: flex;
  border: 2px solid #eff5f8;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  border-radius: 15px;
  margin-bottom: 50px;
}

.formStyle label {
  margin: 5px;
  text-align: center;
}

.formStyle input {
  margin-bottom: 5px;
  width: 600px;
  border: 2px solid #eff5f8;
  border-radius: 15px;
  padding: 5px;
  text-align: center;
}
h1 {
  text-align: center;
  font-family: "Changa", sans-serif;
  font-weight: 500;
  font-size: 50px;
  font-style: normal;
}

.formStyleButton {
  border-radius: 25px;
  border-color: #eff5f8;
  font-family: "Changa", sans-serif;
  font-weight: bold;
  font-style: normal;
}

.formStyleButton:hover {
  text-decoration: underline;
}
/*PAGINA LOGIN CSS*/

.containerRegister {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}
